@font-face {
  font-family: NeueMetana;
  src: url(fonts/neuemetana-bold-webfont.woff2) format("woff2"),
    url(fonts/neuemetana-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Stanley;
  src: url(fonts/stanley-webfont.woff2) format("woff2"),
    url(fonts/stanley-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Sonder;
  src: url(fonts/sonderregular-webfont.woff2) format("woff2"),
    url(fonts/sonderregular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: NeueMetana;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: rgb(34, 34, 34);
}

.nav {
  position: fixed;
  background: rgb(34, 34, 34);
  height: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b c";
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0 0.5px #fff;
}

.nav_container {
  grid-area: b;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 30px;
}

.nav_list_container {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
}

.nav_list_item {
  padding: 0 20px;
}

.nav_list_item_link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/*
#currentHome {
  color: rgb(81, 142, 255);
  background: rgb(81, 142, 255, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
}
*/

.logo {
  grid-area: a;
  align-self: start;
  position: absolute;
  padding: 7px 30px;
  text-decoration: none;
  font-family: Stanley;
  font-size: 2rem;
  color: #fff;
}

.main {
  background: rgb(34, 34, 34);
  padding-top: 7.3rem;
}

.main_container {
  background: rgb(34, 34, 34);
  justify-content: center;
  align-items: center;
  height: 35rem;
  padding: 0 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a b";
}

.main_text_container {
  grid-area: a;
  justify-self: start;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "a"
    "b";
}

.main_img_container {
  grid-area: b;
  justify-self: end;
  align-self: center;
  pointer-events: none;
  user-select: none;
}

.main_img {
  transform: scaleX(-1);
  height: 500px;
  width: 500px;
}

.main_text_name_container {
  grid-area: a;
  align-self: start;
  padding-bottom: 30px;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

.main_text_name {
  font-size: 10rem;
  font-family: Sonder;
  color: #fff;
}

.main_text_description_container {
  grid-area: b;
  align-self: end;
  align-items: bottom;
}

.main_text_description {
  font-size: 1rem;
  color: #fff;
}

.projects {
  background: rgb(34, 34, 34);
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b b";
  height: 70rem;
  position: relative;
  padding: 30px 35px;
  justify-content: center;
  align-items: center;
}

.projects_title_container {
  grid-area: a;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.projects_title {
  font-size: 2rem;
  color: #fff;
}

.projects_tiles_container {
  grid-area: b;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects_tile {
  margin: 2rem;
  height: 400px;
  width: 550px;
  background: rgb(51, 51, 51);
  background-size: cover;
  position: relative;
  border-radius: 5px;
  color: #fff;

  transform: scale(1);
  transition: 0.35s ease-in-out;
  cursor: pointer;
}

.projects_tile:hover,
.projects_tile:focus {
  transform: scale(0.93);
  transition: 0.35s ease-in-out;
  cursor: pointer;
}

.projects_tile_img {
  grid-area: a;
  align-self: center;
  justify-self: center;
  /*height: 250px;
  width: 500px;*/
  height: 400px;
  width: 550px;
  border-radius: 5px;
  position: absolute;
}

.projects_tile_overlay {
  background: rgb(34, 34, 34, 0.85);
  height: 400px;
  width: 550px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "a"
    "b";

  transform: scale(0);
}

.projects_tile:hover .projects_tile_overlay {
  transform: scale(1);
}

.projects_tile_title {
  grid-area: a;
  align-self: center;
  justify-self: center;
  position: absolute;
  font-size: 1.5rem;
  /*bottom: 4rem;*/
  padding: 0 20px;
}

.projects_tile_button_container {
  grid-area: b;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

.projects_tile_button {
  /*grid-area: b;
  align-self: center;
  justify-self: center;*/
  display: flex;
  background: #fff;
  padding: 10px 30px;
  height: 3rem;
  width: 15rem;
  margin: 0.3rem;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;

  transition: 0.35s ease-in-out;
}

.projects_tile_button:hover {
  transition: 0.35s ease-in-out;
  background: rgb(0, 0, 0);
  color: #fff;
  transform: scale(0.95);
}

.about {
  background: rgb(34, 34, 34);
}

.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b c"
    "d d"
    "e e";
  height: 50rem;
  padding: 0px 35px;
  justify-content: center;
  align-items: center;
}

.about_title_container {
  grid-area: a;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.about_title {
  color: #fff;
  font-size: 2rem;
}

.about_text_container {
  grid-area: b;
  align-self: center;
  justify-self: left;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 700px;
}

.about_text {
  color: #fff;
  margin-bottom: 2rem;
}

.about_img_container {
  grid-area: c;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

.about_img {
  height: 400px;
  width: 400px;
}

.my_toolkit_title_container {
  grid-area: d;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.my_toolkit_title {
  color: #fff;
  font-size: 2rem;
}

.my_toolkit_container {
  margin-top: 3rem;
  grid-area: e;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.my_toolkit_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  list-style: none;
}

.my_toolkit_list_item {
  color: #fff;
  margin: 2rem;
  justify-content: center;
}

.my_toolkit_list_item_element {
  display: grid;
  justify-content: center;
  white-space: nowrap;
}

#icon {
  height: 50px;
  width: 50px;
  justify-self: center;
}

#iconA {
  height: 40px;
  width: 60px;
  justify-self: center;
  margin-bottom: 0.3rem;
}

#iconC {
  height: 50px;
  width: 50px;
  justify-self: center;
}

.contact {
  background: rgb(34, 34, 34);
}

.contact_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "a"
    "b";
  height: 30rem;
  padding: 0px 35px;
  justify-content: center;
  align-items: center;
}

.contact_title_container {
  grid-area: a;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.contact_title {
  color: #fff;
  font-size: 2rem;
}

.contact_info_container {
  grid-area: b;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.contact_text_container {
  justify-content: center;
  align-items: center;
  /*width: 700px;*/
  flex-basis: 40%;
}

.contact_text {
  color: #fff;
}

.contact_socials_container {
  flex-basis: 60%;
  justify-content: left;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 1rem;
  text-decoration: none;
  color: #000;
  transform: scale(1);
  transition: 0.35s ease-in-out;
}

.social:hover {
  transform: scale(0.93);
  transition: 0.35s ease-in-out;

  color: #fff;
  background: rgb(34, 34, 34);
  box-shadow: 0 0px 50px #fff;
}

.social:hover #social_icon {
  color: #fff;
  transition: 0.35s ease-in-out;
}

#social_icon {
  height: 50px;
  width: 50px;
  color: rgb(34, 34, 34);
  justify-self: center;

  transform: scale(1);
  transition: 0.35s ease-in-out;
}

.end {
  background: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 3rem;
}

.end_text {
  color: #000;
}
